.Disclaimer {
 font-family: 'IBM Plex Mono', monospace;
 font-size:29px;
  max-width: 500px;
  margin: auto;
}

.text {
font-family: 'Roboto Condensed', sans-serif;
 font-size: 24px;
  max-width: 500px;
  margin: auto;
  color: white;
}

.button {
 border-style: solid;
 font-family: calibri;
  text-align: right;
  max-width: 100px;
  margin: auto;
   margin-right: 0px;
   color:white; 
}
.button2 {
 border-style: solid;
 font-family: calibri;
  text-align: left;
  max-width: 100px;
  margin: auto;
   margin-left: 0px;
    position: absolute;

}