@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Source+Code+Pro:wght@300&display=swap');
.kkk {
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 24px;

 text-align: center;
}

.kkkk {
 font-family: 'Roboto Condensed', sans-serif;
}
